In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# ***prima parte esercizio (A)***

In [ ]:
#Nome Data Frame = movies
movies = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv') #index_col=0 serviva precedentemente per indicizare la posizione su exel
movies.head() #si vedono le prime 5 righe

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [ ]:
#visualizzare le ultime 8 righe del dataframe
movies[-8:]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [ ]:
movies.tail(8)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
70,Dear John,Drama,Sony,66,4.598800,29,$114.97,2010
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [ ]:
#visualizzare solo le colonne che contengono il titolo e il genere del film
movies[["Film","Genre"]]   #-----da ri fare

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

In [ ]:
#visualizzare le righe del dataframe dalla 20 alla 30
movies.iloc[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

In [ ]:
#versione alternativa
movies[20:31]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,47,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
24,She's Out of My League,Comedy,Paramount,60,2.440500,57,$48.81,2010
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
28,Remember Me,Drama,Summit,70,3.491250,28,$55.86,2010
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
30,Penelope,Comedy,Summit,74,1.382800,52,$20.74,2008

----------------------------

In [ ]:
#visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45
movies.iloc[[23,29,45]][["Film","Year"]]#il risualtoto pertinente alla consegna

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008

In [ ]:
movies.iloc[[23,29,45]] #versione semplificata

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
23,Something Borrowed,Romance,Independent,48,1.719514,15,$60.18,2011
29,Rachel Getting Married,Drama,Independent,61,1.384167,85,$16.61,2008
45,Mamma Mia!,Comedy,Universal,76,9.234454,53,$609.47,2008

-----------------------------------------------

In [ ]:
#visualizzare i titoli dei film del genere “Animation”
movies[movies.Genre == 'Animation']

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011

In [ ]:
movies[movies["Lead Studio"].isin([ "Disney","20th Century Fox"])][["film"]] #----- da rivedere

In [ ]:
#visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”movies
movies[(movies["Lead Studio"]=="Disney")|(movies["Lead Studio"]=="20th Century Fox")]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,60,$117.09,2011
6,WALL-E,Animation,Disney,89,2.896019,96,$521.28,2008
16,The Proposal,Comedy,Disney,74,7.867500,43,$314.70,2009
22,Tangled,Animation,Disney,88,1.365692,89,$355.01,2010
41,Monte Carlo,Romance,20th Century Fox,50,1.983200,38,$39.66,2011
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,65,$252.04,2008
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,56,$193.97,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007

In [ ]:
#visualizzare i titoli dei film usciti dal 2005 al 2010
movies[(movies.Year>=2005)&(movies.Year<=2010)]

In [ ]:
#visualizzare l’ “Audience score %” medio dei film del genere “Drama”
movies[movies.Genre == 'Drama']["Audience score %"].mean()

67.23076923076923

In [ ]:
#diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”
movies["Audience score %"]*0.9

0     63.0
1     46.8
2     31.5
3     39.6
4     64.8
      ...
72    75.6
73    57.6
74    80.1
75    63.9
76    72.9
Name: Audience score %, Length: 77, dtype: float64

In [ ]:
#per aumentare la percentuale del 10%
movies["Audience score %"]*1.10

0     62.370
1     46.332
2     31.185
3     39.204
4     64.152
       ...
72    74.844
73    57.024
74    79.299
75    63.261
76    72.171
Name: Audience score %, Length: 77, dtype: float64

In [ ]:
movies["Audience score %"] = movies["Audience score %"] - movies["Audience score %"]/100*10      #serve per loa percentuale
movies

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,56.70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,42.12,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,28.35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,35.64,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,58.32,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,68.04,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,51.84,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,72.09,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,57.51,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,65.61,8.096000,87,$60.72,2009

In [ ]:
#diminuire di 10 il valore delle recensioni presenti nel campo “Audience score %”
movies["Audience score %"].subtract(10)  #diminuisce un valore(subtract)==andare

0     60
1     42
2     25
3     34
4     62
      ..
72    74
73    54
74    79
75    61
76    71
Name: Audience score %, Length: 77, dtype: int64

# ***Seconda parte esercizio (B)***

**ESTERNO**

# ***ricerca di stringhe***

In [ ]:
#ricerca di stringhe
movies[(movies["Film"]=="Porno")]

0      True
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Name: Film, Length: 77, dtype: bool

In [ ]:
movies[movies["Film"].str.contains("Porno")]  #permette di cercare tutto qullo che contine(lettere , numeri) 
# 'contains' questo permette tuttio ciò

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,56.7,1.747542,64,$41.94,2008

In [ ]:
movies[movies["Film"].str.contains("the")] #permette di cercare tutto qullo che contine(lettere , numeri) 
# 'contains' questo permette tuttio ciò

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
25,Sex and the City Two,Comedy,Warner Bros.,39.69,2.883500,15,$288.35,2010
26,Sex and the City 2,Comedy,Warner Bros.,39.69,2.883500,15,$288.35,2010
27,Sex and the City,Comedy,Warner Bros.,65.61,7.221796,49,$415.25,2008
49,Love & Other Drugs,Comedy,Fox,44.55,1.817667,48,$54.53,2010
63,Going the Distance,Comedy,Warner Bros.,45.36,1.314062,53,$42.05,2010
72,Across the Universe,romance,Independent,68.04,0.652603,54,$29.37,2007

In [ ]:
#cerca la prima lettere in una stringa
movies[movies["Film"].str.startswith("T")]  #'startswith' questo permette tuttio ciò

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
10,Tyler Perry's Why Did I get Married,Romance,Independent,38.07,3.724192,46,$55.86,2007
11,Twilight: Breaking Dawn,Romance,Independent,55.08,6.383364,26,$702.17,2011
12,Twilight,Romance,Summit,66.42,10.180027,49,$376.66,2008
13,The Ugly Truth,Comedy,Independent,55.08,5.402632,14,$205.30,2009
14,The Twilight Saga: New Moon,Drama,Summit,63.18,14.196400,27,$709.82,2009
15,The Time Traveler's Wife,Drama,Paramount,52.65,2.598205,38,$101.33,2009
16,The Proposal,Comedy,Disney,59.94,7.867500,43,$314.70,2009
17,The Invention of Lying,Comedy,Warner Bros.,38.07,1.751351,56,$32.40,2009
18,The Heartbreak Kid,Comedy,Paramount,33.21,2.129444,30,$127.77,2007
19,The Duchess,Drama,Paramount,55.08,3.207850,60,$43.31,2008
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,65.61,1.783944,73,$285.43,2008
21,The Back-up Plan,Comedy,CBS,38.07,2.202571,20,$77.09,2010
22,Tangled,Animation,Disney,71.28,1.365692,89,$355.01,2010

In [ ]:
movies[movies["Film"].str.endswith("on")]  #visulizza la stringa in cui contiene le ultime lettere

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
14,The Twilight Saga: New Moon,Drama,Summit,63.18,14.196400,27,$709.82,2009
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,65.61,1.783944,73,$285.43,2008

In [ ]:
#visualizare i film in ordine alfabetico
movies.sort_values(by=["Film"])

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
76,(500) Days of Summer,comedy,Fox,65.61,8.096000,87,$60.72,2009
75,27 Dresses,Comedy,Fox,57.51,5.343622,40,$160.31,2008
74,A Dangerous Method,Drama,Independent,72.09,0.448645,79,$8.97,2011
73,A Serious Man,Drama,Universal,51.84,4.382857,89,$30.68,2009
72,Across the Universe,romance,Independent,68.04,0.652603,54,$29.37,2007
...,...,...,...,...,...,...,...,...
4,What Happens in Vegas,Comedy,Fox,58.32,6.267647,28,$219.37,2008
3,When in Rome,Comedy,Disney,35.64,0.000000,15,$43.04,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,28.35,1.211818,43,$26.66,2010
1,Youth in Revolt,Comedy,The Weinstein Company,42.12,1.090000,68,$19.62,2010
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,56.70,1.747542,64,$41.94,2008

In [ ]:
movies.sort_values(by=["Film"],ascending=False)  #visualizare i film in ordine alfabetico invertito

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,56.70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,42.12,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,28.35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,35.64,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,58.32,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,68.04,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,51.84,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,72.09,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,57.51,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,65.61,8.096000,87,$60.72,2009